/* Basic Reset */
html, body {
  margin: 0;
  padding: 0;
}


/* SVG styling for height */
svg {
  height: 42vh;
}

/* This defines a very tall scrollable area, allowing scroll animations to occur */
.page {
  height: 400vh;
}

/* Content styling, positioned fixed so it doesn't move when scrolling */
.content {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

/* Each section of the content spans full screen (100vw x 100vh) */
.content-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color:#f9f3f3;
 
  }
  
h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  margin: .5em 0;
  padding: 0;
}

h2, h3, p,a {
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: .5em 0;
  padding: 0;
  font-size:35px;
}
a {
  color:#f9f3f3;
}

/* Section-specific background colors */
.content-section:nth-child(1) {
  background-color: #012a4a;
}
.content-section:nth-child(2) {
  background-color: #22446A;
}
.content-section:nth-child(3) {
  background-color: #346588;
}

/* Centering text content in the sections */
.content-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: -10vh;
  max-width: 700px;
  text-align: center;
}


/* Floating arrow animation (the down arrow in Section 1) */
.arrow-animated {
  font-size: 50px;
  animation: arrow-float 1s infinite;
}


/* Keyframe animation for the floating arrow */
@keyframes arrow-float {
  0% {
    transform: translate(1500%, 2%) translateY(50%);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translate(1500%, 2%) translateY(100%);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(1500%, 2%) translateY(50%);
    animation-timing-function: ease-out;
  }
}
:root {
  --hue: 0;
  --x: 0;
  --y: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 2000px;
}



.ball {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform: translateY(-50%) translate3d(calc(var(--x)*(1vw - 0.5px)), calc(var(--y)*1px), 0);
  top: 70%;
  left: 0;
  background-image: url('red-dwarf-star.png'); /* Add the path to your circular image */
  background-size: cover; /* Ensures the image covers the entire circle */
  background-position: center; /* Centers the image */
  position: fixed;
  transform-origin: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
  }


